.top-bar{

    min-height:50px;
    background: #001D30;
    width:100%;

}

.centered{

    display: flex;
    width:70%;
    margin:0px auto;

}

.logo{
    padding:10px;
}

.lang{

    margin-left:auto;
    color:#fff;
    align-self: center;
    
}

.lang a{

    color: inherit;
    text-decoration: none;
    padding:2px;

}