
*,
*:after,
*:before {
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  max-width: 100%;
}

.centered{

    display: flex;
    width:70%;
    margin:0px auto;

}

.contents{

    margin-top:3em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;  /* NEW */
    padding-bottom:30em;

}

.contents div {

  flex:1;
  align-items: center;
  justify-content: center;

}

@media (max-width:768px){

  .contents div{

    flex:auto;
    width:100%;
    margin-top:2em;

  }


  .centered{

    display: flex;
    width:100%;
    padding: 0px 2em;

  }

}