.item{

    padding:0 1.5em;
  
}

.photo{
    
    text-align: center;

}

.photo img{

    display: flex;
    border:1px solid #707070;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin:0px auto;
    padding:0px;

}

.text h2{

    margin-top: 1em;
    text-align: center;

}

.text p{

    text-align: center;
    margin-top: 2em;

}

@media (max-width:768px){

    .photo img{

        flex:auto;
        display: inline-block;
        width:100%;

    }

}