.menuButton{
    padding:1em;
    background: #fff;
    border:none;
    width:100%;
    display: none;
}

.navbar{

    width:auto;
    height: auto;
    display: block;
    display: flex;
    list-style: none;
    color: #0E273B;
    margin:0px auto;
    justify-content: center;
    align-content: center;

}

.navbar li{

    float:left;
    color: inherit;
    position: relative;

}

.navbar li a{
    
    color: inherit;
    padding:1em;
    display: block;
    width:auto;
    font-weight: bold;
    text-decoration: none;
    height:auto;

}

.navbar li:hover .submenu{

    display: block;

}

.submenu{

    display: none;
    position: absolute;

}

.navbar ul{

    width:auto;
    min-width:10em;
    display: inline-block;
    margin-top:0.6em;
    list-style: none;
    background: #fff;
    color: rgba(14,39,59,0.5);
    position: relative;
    padding:0.3em;
    z-index: 3;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);

}

.navbar ul:after{
    content: '';
    position:absolute;
    left: 20px;
    top:-5px;
    border-style: solid;
    border-width: 0 8px 5px 8px;;
    border-color: transparent transparent #fff transparent;  
}

.navbar ul li{

    float:none;
    padding:0 0.3em;

}

.navbar ul li a{

    display:block;
    padding:0.3em 1.3em;
    margin:0.5em 0;
    text-align: left;

}

.navbar ul li a.active{

    border-left:4px solid #0076D5;
    color: #0E273B;

}


@media(max-width:500px){

    .menuButton{

        display: block;

    }

    .navbar{

        display:none;
        text-align: left;
        width:80%;
        /* display:inline-block; */

    }

    .navbar li{

        float:none;

    }

    .submenu{

        display: none;
        position: static;

    }


    .navbar ul{

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .navbar ul:after{
        display:none;
    }

}